@media screen and (max-width: 300px) {    

*{
    box-sizing: border-box;
}

body{
    background-color: grey;
}
.container{
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content;
    justify-self: center;
}
.animalboxes{
    font-size:large;
    display:flex;
    background-color: gainsboro;
    border-radius: 20px;
    /* height:300px; */
    padding:10px;
    margin:5px;

    /* align-items: center; */
    flex-direction: column;
}
.animalboxes h2{
    text-align: center;
}
.animalboxes img{
    max-width:100%;
    /* height:100%; */
    border-radius: 20px;
}
#bombardino-cocodrilo{
    /*display: flex;*/

}

}
/* 2 */
@media screen and (min-width: 300px) {    

    *{
        box-sizing: border-box;
    }
    
    body{
        background-color: grey;
    }
    .container{
        width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: fit-content;
        justify-self: center;
    }

    .animalboxes {
        font-size: x-large;
        display: flex;
        flex-direction: column;
        background-color: gainsboro;
        border-radius: 20px;
        padding: 10px;
        margin: 5px;
        box-sizing: border-box;
        max-width: 100%;
    }
    
    .animalboxes h2 {
       text-align: center;
        margin-bottom: 0;
        /* display: flex;
        justify-content: center; */
        min-width: 0;
    }
    
    .animalboxes img {
        height: auto;
        border-radius: 50%;
        margin-bottom: auto;
        box-shadow: 3px 3px grey;
    }
.vitruta{
    background-color: white;
    border-radius: 20px;
    max-width: 70%;
    align-self: center;
}
    
    }
    